In [1]:
import pandas as pd
import numpy as np

In [2]:
df_complete = pd.read_excel('data_complete_rectified.xlsx')
df_complete.head()

In [6]:
sequenceAmount = df_complete['SequenceAmount'].to_list()
offset = []
i = 0
while(i < len(sequenceAmount)):
    sequenceAmount_cur = sequenceAmount[i]
    offset.append(i)
    i += sequenceAmount_cur
    assert df_complete.iloc[offset[-1]]['NO'] != df_complete.iloc[offset[-2]]['NO']

IndexError: list index out of range

In [7]:
for i in range(1,72):
    if(df_complete[df_complete['NO']==i].shape[0] != 
    df_complete[df_complete['NO']==i]['SequenceAmount'].mean()):
        print(i)

25
26
27

In [10]:
df_complete[df_complete['NO']==27]

,NO,Name,Sequence,Sites Number,start,end,SequenceAmount,Density,v1*energyloc,v2*energyloc,...,v4*seqloc,cb*seqloc,cp(rs)*seqloc,cp(hb)*seqloc,cp(fg)*seqloc,Sequence_A,Sequence_C,Sequence_G,Sequence_U,BS
961,27,1TN1,G,1,1,4,38,1.000000,0.000000,0.000000,...,-0.078947,0.039474,0.013158,0.000000,0.000000,0,0,1,0,0
962,27,1TN1,C,2,1,5,38,0.500000,0.000000,0.000000,...,-0.084474,0.078947,0.026316,0.026316,0.026316,0,1,0,0,0
963,27,1TN1,G,3,1,6,38,0.666667,0.000000,0.000000,...,-0.236842,0.118421,0.039474,0.000000,0.000000,0,0,1,0,0
964,27,1TN1,G,4,1,7,38,0.750000,0.000000,0.000000,...,-0.315789,0.157895,0.052632,0.000000,0.000000,0,0,1,0,0
965,27,1TN1,A,5,2,8,38,0.200000,0.000000,0.000000,...,-0.200000,0.131579,0.065789,0.065789,0.065789,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,27,1TN1,C,72,69,75,38,0.222222,3.200646,53.955794,...,-3.041053,2.842105,0.947368,0.947368,0.947368,0,1,0,0,0
1033,27,1TN1,A,73,70,76,38,0.246575,4.171669,74.394071,...,-2.920000,1.921053,0.960526,0.960526,0.960526,1,0,0,0,0
1034,27,1TN1,C,74,71,76,38,0.229730,4.800969,80.933691,...,-3.125526,2.921053,0.973684,0.973684,0.973684,0,1,0,0,0
1035,27,1TN1,C,75,72,76,38,0.240000,5.601130,94.422640,...,-3.167763,2.960526,0.986842,0.986842,0.986842,0,1,0,0,0
1036,27,1TN1,A,76,73,76,38,0.250000,0.000000,0.000000,...,-3.040000,2.000000,1.000000,1.000000,1.000000,1,0,0,0,0

In [ ]:
example_num = df_all.shape[0] # 记录数据集中的样例数目

# 记录各个样例的新指标，最终应为4个长度为example_num的向量
A_occurence = [] 
C_occurence = []
G_occurence = []
U_occurence = []

# 迭代地计算各个样例的新指标
for i in range(example_num):
    start_cur = int(df_all.iloc[i]['start']) # 取得当前样例的start特征
    end_cur = int(df_all.iloc[i]['end']) # 取得当前样例的end特征
    no_cur = int(df_all.iloc[i]['NO']) # 取得当前样例的NO特征
    offset_cur = offset[no_cur-1] # 各个序列在完整数据集上的偏移量 e.g.Name为’1AJU'的序列的第一个样例在完整数据集上的偏移量为0
    # 当前样例的各项新指标的计数器
    A_cnt = 0 
    C_cnt = 0
    G_cnt = 0
    U_cnt = 0
    # 在序列内根据当前样例的start和end所确定的范围内，迭代地对A/C/G/U的出现次数进行计数
    for j in range(offset_cur+start_cur, offset_cur+end_cur+1):
        #calculate occurence of A/C/G/U
        # print(j)
        if(df_all.iloc[j]['Sequence']=='A'):
            A_cnt += 1
        elif(df_all.iloc[j]['Sequence']=='C'):
            C_cnt += 1
        elif(df_all.iloc[j]['Sequence']=='G'):
            G_cnt += 1   
        elif(df_all.iloc[j]['Sequence']=='U'):
            U_cnt += 1   
    A_occurence.append(A_cnt)
    C_occurence.append(C_cnt)
    G_occurence.append(G_cnt)
    U_occurence.append(U_cnt)