In [17]:
import pandas as pd
import numpy as np

In [18]:
df_complete = pd.read_excel('data_complete_rectified.xlsx')
df_complete.shape

(3791, 32)

In [ ]:
sequenceAmount = df_complete['SequenceAmount'].to_list()
offset = []
i = 0
while(i < len(sequenceAmount)):
    sequenceAmount_cur = sequenceAmount[i]
    # print(i)
    offset.append(i)
    i += sequenceAmount_cur
    # assert df_complete.iloc[offset[-1]-1]['NO'] != df_complete.iloc[offset[-2]-1]['NO']

In [20]:
#测试SequenceAmount与实际样例数是否匹配 输出不匹配的NO
for i in range(1,72):
    if(df_complete[df_complete['NO']==i].shape[0] != 
    df_complete[df_complete['NO']==i]['SequenceAmount'].mean()):
        print(i)

In [21]:
df_complete[df_complete['NO']==17]

,NO,Name,SequenceAmount,Sequence,Sites Number,start,end,Density,v1*energyloc,v2*energyloc,...,v4*seqloc,cb*seqloc,cp(rs)*seqloc,cp(hb)*seqloc,cp(fg)*seqloc,Sequence_A,Sequence_C,Sequence_G,Sequence_U,BS
492,17,1Y26,71,C,1,1,4,1.000000,0.000000,0.000000,...,-0.042237,0.039474,0.013158,0.013158,0.013158,0,1,0,0,0
493,17,1Y26,71,G,2,1,5,0.500000,0.000000,0.000000,...,-0.157895,0.078947,0.026316,0.000000,0.000000,0,0,1,0,0
494,17,1Y26,71,C,3,1,6,0.666667,0.000000,0.000000,...,-0.135634,0.126761,0.042254,0.042254,0.042254,0,1,0,0,0
495,17,1Y26,71,U,4,1,7,0.250000,0.996240,16.030472,...,-0.172958,0.112676,0.000000,0.056338,0.000000,0,0,0,1,0
496,17,1Y26,71,U,5,2,8,0.400000,1.992479,32.060943,...,-0.216197,0.140845,0.000000,0.070423,0.000000,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,17,1Y26,71,A,67,64,70,0.283582,5.840336,104.151700,...,-2.868732,1.887324,0.943662,0.943662,0.943662,1,0,0,0,0
559,17,1Y26,71,A,68,65,71,0.294118,0.000000,0.000000,...,-2.911549,1.915493,0.957746,0.957746,0.957746,1,0,0,0,0
560,17,1Y26,71,G,69,66,71,0.188406,0.000000,0.000000,...,-5.830986,2.915493,0.971831,0.000000,0.000000,0,0,1,0,0
561,17,1Y26,71,U,70,67,71,0.357143,0.000000,0.000000,...,-3.026761,1.971831,0.000000,0.985915,0.000000,0,0,0,1,0
562,17,1Y26,71,G,71,68,71,0.197183,0.000000,0.000000,...,-6.000000,3.000000,1.000000,0.000000,0.000000,0,0,1,0,0

In [39]:
example_num = df_complete.shape[0] # 记录数据集中的样例数目

# 记录各个样例的新指标，最终应为4个长度为example_num的向量
A_occurence = [] 
C_occurence = []
G_occurence = []
U_occurence = []

# 迭代地计算各个样例的新指标
for i in range(example_num):
    start_cur = int(df_complete.iloc[i]['start']) # 取得当前样例的start特征
    end_cur = int(df_complete.iloc[i]['end']) # 取得当前样例的end特征
    no_cur = int(df_complete.iloc[i]['NO']) # 取得当前样例的NO特征
    offset_cur = offset[no_cur-1] # 各个序列在完整数据集上的偏移量 e.g.Name为’1AJU'的序列的第一个样例在完整数据集上的偏移量为0
    # 当前样例的各项新指标的计数器
    A_cnt = 0 
    C_cnt = 0
    G_cnt = 0
    U_cnt = 0
    # 在序列内根据当前样例的start和end所确定的范围内，迭代地对A/C/G/U的出现次数进行计数
    for j in range(offset_cur+start_cur-1, offset_cur+end_cur):
        #calculate occurence of A/C/G/U
        # print(j)
        if(df_complete.iloc[j]['Sequence']=='A'):
            A_cnt += 1
        elif(df_complete.iloc[j]['Sequence']=='C'):
            C_cnt += 1
        elif(df_complete.iloc[j]['Sequence']=='G'):
            G_cnt += 1   
        elif(df_complete.iloc[j]['Sequence']=='U'):
            U_cnt += 1   
    A_occurence.append(A_cnt)
    C_occurence.append(C_cnt)
    G_occurence.append(G_cnt)
    U_occurence.append(U_cnt)

In [42]:
df_complete['A_occurence'] = A_occurence
df_complete['C_occurence'] = C_occurence
df_complete['G_occurence'] = G_occurence
df_complete['U_occurence'] = U_occurence

In [43]:
df_complete.head()

,NO,Name,SequenceAmount,Sequence,Sites Number,start,end,Density,v1*energyloc,v2*energyloc,...,cp(fg)*seqloc,Sequence_A,Sequence_C,Sequence_G,Sequence_U,BS,A_occurence,C_occurence,G_occurence,U_occurence
0,1,1AJU,30,G,1,1,16,1.000000,0.087492,1.062360,...,0.000000,0,0,1,0,0,3,4,6,3
1,1,1AJU,30,G,2,1,17,1.000000,0.174984,2.124721,...,0.000000,0,0,1,0,0,3,4,7,3
2,1,1AJU,30,C,3,1,18,0.333333,0.579427,9.767859,...,0.100000,0,1,0,0,0,3,4,8,3
3,1,1AJU,30,C,4,1,19,0.500000,0.772570,13.023812,...,0.133333,0,1,0,0,0,4,4,8,3
4,1,1AJU,30,A,5,1,20,0.200000,1.006954,17.957190,...,0.166667,1,0,0,0,0,4,4,9,3

In [46]:
df_complete.to_excel('data_w_occurence.xlsx')